# Run script at 8:55 AM Monday to Friday
55 8 * * 1-5 /path/to/your/start.sh

# Run script at 11:55 AM Monday to Friday
55 11 * * 1-5 /path/to/your/start.sh

# Run script at 12:55 PM Monday to Friday
55 12 * * 1-5 /path/to/your/start.sh

# Run script at 5:55 PM Monday to Friday
55 17 * * 1-5 /path/to/your/start.sh

# Run script to delete logs at 12:55 PM every Saturday
55 12 * * 6 /path/to/your/delete_logs.sh
